<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key = "myTimestamp" datePattern="dd-MM-yyyy'_'HH-mm-ss:SSS"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logFilePath}/${MAIN}-${myTimestamp}.log</file>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS}  %-5level[%X{sourceThread}] %logger{36}  - %msg%n%rEx</pattern>-->
            <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] - %msg MDC: {%mdc}%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE" />
    </appender>

    <!-- separate logfile for placement algorithms -->
    <appender name="PLACEMENT-ALGORITHMS-FILE" class="ch.qos.logback.core.FileAppender">
        <file> ${logFilePath}/placementAlgorithms.csv</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}; %-5level[%X{sourceThread}]; %logger{0} ;%msg%n%rEx</pattern>
        </encoder>
    </appender>
    <!-- define separate logger for placement algorithm logging -->
    <logger name="tcep.placement.PlacementStrategy" level="DEBUG" additivity="false">
        <appender-ref ref="PLACEMENT-ALGORITHMS-FILE"/>
    </logger>
    <appender name="ASYNC_PLACEMENT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="PLACEMENT-ALGORITHMS-FILE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>