<configuration>

   <!-- <statusListener class="ch.qos.logback.core.status.NopStatusListener" />  suppress logging configuration output-->
    <timestamp key = "myTimestamp" datePattern="dd-MM-yyyy'_'HH-mm-ss:SSS"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file> ${logFilePath}/${MAIN}-${myTimestamp}.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput, but unflushed log entries are lost on crash -->
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <!-- use %X{sourceThread} to show the actual thread that executed the code, not the thread running the logger asynchronously -->
            <pattern>%d{HH:mm:ss.SSS}  %-5level[%X{sourceThread}] %logger{36}  - %msg%n%rEx</pattern>
        </encoder>
    </appender>
    <!-- separate logfile for placement algorithms -->
    <appender name="PLACEMENT-ALGORITHMS-FILE" class="ch.qos.logback.core.FileAppender">
        <file> ${logFilePath}/placementAlgorithms.csv</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}; %-5level[%thread]; %logger{0} ;%msg%n%rEx</pattern>
        </encoder>
    </appender>
    <!-- define separate logger for placement algorithm logging -->
    <logger name="tcep.placement.PlacementStrategy" level="DEBUG" additivity="false">
        <appender-ref ref="PLACEMENT-ALGORITHMS-FILE"/>
    </logger>
    <!--
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}; %-5level[%thread]; %logger{0} ;%msg%n%rEx</pattern>
        </encoder>
    </appender>
    -->
    <root level="INFO">
        <!--<appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>
